:root {
    /* Colors */
    --alert-color      : #ff1111;
    --success-color    : #09ec33;
    --bluish-cyan      : #1caee3;
    --carrot-orange    : #ff8500;
    --dark-jungle-green: #141b25;
    --deep-bluish-cyan : #00b4f5;
    --iceberg-blue     : #E7EEFD;

    /* Base Font Size */
    font-size: 16px;
}

/* Common Styles */
header,
main {
    align-items    : center;
    display        : flex;
    justify-content: center;
    width          : 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

p {
    color: var(--dark-jungle-green);
}

table {
    border-collapse: collapse;
    border-spacing : 0;
    width          : 100%;
}

.container {
    display: flex;
    width  : 80%;
}

/* Button */
button {
    align-items     : center;
    background-color: var(--carrot-orange);
    border          : 3px solid var(--carrot-orange);
    border-radius   : .25em;
    color           : white;
    display         : flex;
    flex-direction  : row;
    font-size       : 1.05em;
    font-weight     : 600;
    gap             : .75em;
    height          : auto;
    justify-content : center;
    padding         : .35em 1.75em;
    transition      : all .2s ease-in-out;
    width           : auto;
}

button:hover {
    background-color: white;
    color           : var(--carrot-orange);
}

/* Delete Button */
.delete-button {
    background-color: var(--alert-color);
    border-color    : var(--alert-color);
    padding         : .5em .55em;
}

.delete-button:hover {
    background-color: white;
    color           : var(--alert-color);
}

/* Done Button (By clicking it, it will complete an order) */
.done-button {
    background-color: var(--success-color);
    border-color    : var(--success-color);
}

.done-button:hover {
    color: var(--success-color);
}

/* Neutral Button (an optional button for user) */
.neutral-button {
    background-color: var(--iceberg-blue);
    border-color    : var(--iceberg-blue);
    color           : hsl(221, 45%, 55%);
}

.neutral-button:hover {
    background-color: white;
    color           : hsl(221, 45%, 55%);
}

/* Highlighted words within a sentence */
.highlight {
    color      : var(--alert-color);
    font-weight: 600;
}

/* Input Field Aditional Indications */
.small-text {
    color      : hsl(221, 45%, 70%);
    font-size  : .75em;
    font-weight: 600;
}

.link {
    text-decoration: none;
}

/* HEADER Component */

header {
    background-color: var(--dark-jungle-green);
    height          : 7rem;
    margin-bottom   : 2em;
}

header .container {
    align-items    : center;
    flex-direction : row;
    justify-content: space-between;
}

header .logo {
    width: 10rem;
}

/* Navbar */
header nav {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    gap            : 3.5em;
    justify-content: center;
}

header nav a {
    color          : white;
    font-size      : 1.25em;
    font-weight    : 600;
    text-decoration: none;
    transition     : all ease-in-out .3s;
}

header nav a:hover {
    color: var(--carrot-orange);
}

header nav a.active {
    color: var(--carrot-orange);
}

/* HOME Component */

main {
    flex-direction: column;
    margin-bottom : 2em;
}

main>.container {
    flex-direction: column;
}

main .container h1 {
    font-weight  : 700;
    margin-bottom: 1em;
    text-align   : center;
    width        : 100%;
}

/* PRODUCT Component */
.product {
    align-items   : center;
    border-bottom : 1px solid var(--iceberg-blue);
    display       : flex;
    flex-direction: row;
    margin-right  : 1em;
    padding       : 1.5em 0;
}

.product:first-child {
    padding-top: 0;
}

.product:last-child {
    border-bottom: 0;
}

.product .name {
    text-decoration: none;
}

.product .name p {
    cursor     : pointer;
    font-size  : 1.2em;
    font-weight: 600;
    line-height: 1.25em;
    text-align : justify;
    transition : all ease-in-out .05s;
}

.product .name p:hover {
    color          : var(--bluish-cyan);
    text-decoration: underline;
}

.product table.product-info {
    font-size : 1.1em;
    margin-top: .5em;
}

.product .product-info td {
    align-items: center;
    display    : flex;
    height     : 2.5em;
}

/* Product Rating */
.rating {
    display       : flex;
    flex-direction: row;
}

.rating-stars {
    align-items   : center;
    display       : flex;
    flex-direction: row;
    font-size     : 1em;
    margin-left   : .25em;
    margin-right  : .5em;
    position      : relative;
    top           : -.1em;
}

.filled-stars {
    color: var(--carrot-orange);
}

.empty-stars {
    color: var(--iceberg-blue);
}

.product .currency-symbol,
.product .fraction-part {
    color    : var(--bluish-cyan);
    font-size: 1em;
    position : relative;
    top      : -.175em;
}

.product .whole-part {
    color      : var(--bluish-cyan);
    font-size  : 1.65em;
    font-weight: 400;
    margin     : 0 .05em;
    position   : relative;
    top        : .1em;
}

.product button {
    padding: .25em 1.75em;
}

/* CART Component */
aside.cart {
    background-color: var(--iceberg-blue);
    padding         : 2.5em 1.5em;
}

.cart h5 {
    align-items   : center;
    display       : flex;
    flex-direction: row;
    font-weight   : 700;
    gap           : .35em;
    margin-bottom : 1.5em;
}

.cart table tr td:nth-child(2) {
    padding-right: .5em;
}

.cart .grand-total {
    border-top: 2px solid var(--dark-jungle-green);
    font-size : 1.2em;
    margin-top: 1.5em;
}

.cart .grand-total p {
    font-weight: 600;
    padding-top: .5em;
}

.cart button {
    margin-top: 3em;
    padding   : .35em 1.75em;
    width     : 100%;
}

/* PRODUCT DETAILS Component */
#product-details .product img {
    padding-right: 1em;
    width        : calc(100% - 1em);
}

#product-details .product {
    border-bottom: 0;
    font-size    : 1.1em;
}

#product-details .product .price .currency-symbol,
#product-details .product .price .fraction-part {
    font-size  : 1.25em;
    font-weight: 600;
    top        : -.15em;
}

#product-details .product .price .whole-part {
    font-size  : 2em;
    font-weight: 600;
}

#product-details .product .name {
    font-size  : 1.25em;
    font-weight: 600;
}

#product-details .product .shipping {
    margin-top: 1em;
}

#product-details .product .we-accept {
    align-items     : center;
    background-color: hsl(196, 78%, 95%);
    border-radius   : .25em;
    color           : var(--bluish-cyan);
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    margin-top      : 1em;
    padding         : .25em .6em;
    padding-left    : .75em;
}

#product-details .product .we-accept .card-group {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    justify-content: center;
}

#product-details .product .we-accept .card-group img {
    margin : 0;
    padding: 0;
    width  : 2.5em;
}

#product-details .product .we-accept .card-group img:not(:last-child) {
    margin-right: .475em;
}

.quantity {
    border: 1px solid var(--iceberg-blue);
    height: 2.5em;
}

.quantity button {
    align-items     : center;
    background-color: white;
    border-color    : white;
    border-radius   : 0;
    color           : var(--dark-jungle-green);
    display         : flex;
    font-size       : 1.25em;
    height          : 1.91em;
    justify-content : center;
    padding         : 0;
    width           : 1.9em;
}

.quantity button:hover {
    color: var(--carrot-orange);
}

.quantity button:active {
    background-color: var(--iceberg-blue);
    border-color    : var(--iceberg-blue);
    transition      : all ease-in-out .1s;
}

.quantity input {
    border    : 1px solid var(--iceberg-blue);
    height    : 2.5em;
    padding   : 0 .75em;
    text-align: center;
    width     : 2.75em;
}

.quantity input:focus,
.quantity input:focus-within,
.quantity input:focus-visible {
    border-color: var(--bluish-cyan);
    outline     : 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -moz-appearance   : none;
    -webkit-appearance: none;
    appearance        : none;
}

#product-details .features {
    margin-top: 1em;
}

#product-details .features h5 {
    font-weight: 600;
}

#product-details .features ul {
    margin-left: -.5em;
}

#product-details .features li {
    padding-left: .5em;
}

#product-details .features li::marker {
    content: "•";
}

#product-details .services .icon {
    font-size: 2em;
    color    : var(--carrot-orange);
}

#product-details .services h5 {
    font-weight: 600;
    margin-top : .5em;
}

#product-details .services p {
    color: var(--dark-jungle-green);
}

#product-details .customer-reviews h2 {
    font-weight: 700;
    text-align : center;
}

/* NotFoundErrorMessage Component*/
.error-message {
    width          : 100%;
    height         : 100%;
    display        : flex;
    align-items    : center;
    flex-direction : column;
    justify-content: center;
    font-size      : 1.5em;
    color          : hsl(221, 45%, 85%);
}

.error-message .icon {
    font-size    : 2.75em;
    margin-bottom: .25em;
}

.error-message p {
    color      : hsl(221, 45%, 85%);
    font-weight: 600;
    margin     : 0;
}

/* Customer Review Component */
.customer-review {
    padding: 1em 0;
}

.customer-review:not(:last-child) {
    border-bottom: 1px solid var(--iceberg-blue);
}

.customer-review .row:first-child {
    align-items   : center;
    display       : flex;
    flex-direction: row;
    gap           : .5em;
}

.customer-review p {
    margin : 0;
    padding: 0;
}

.customer-review .display-photo {
    border-radius: 50%;
    height       : 3em;
    object-fit   : fill;
    overflow     : hidden;
    padding      : 0;
    width        : 3em;
}

.customer-review .display-photo img {
    height: auto;
    width : 100%;
}

.customer-review .name {
    font-size    : 1.1em;
    font-weight  : 600;
    margin-bottom: .1em;
}

.customer-review .rating {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    width          : 100%;
}

.customer-review .rating .date {
    color: hsl(221, 45%, 70%);
}

/* Login & Sign up Page */

#login,
#sign-up {
    flex-direction: row;
    height        : 100%;
    width         : 100%;
}

#login.row,
#sign-up.row {
    margin : 0;
    padding: 0;
    width  : 100%;
}

#form-column {
    align-items    : center;
    display        : flex;
    justify-content: center;
}

#form-column .back {
    align-items          : center;
    color                : var(--dark-jungle-green);
    cursor               : pointer;
    display              : flex;
    flex-direction       : row;
    gap                  : .5em;
    position             : absolute;
    right                : 5em;
    text-decoration-color: white;
    top                  : 5em;
}

#form-column .back:hover {
    text-decoration      : underline;
    text-decoration-color: var(--carrot-orange);
}

#form-column .back:hover svg {
    color     : var(--carrot-orange);
    transition: all ease-in-out .2s;
}

#photo-column {
    height    : 100vh;
    margin    : 0;
    object-fit: fill;
    overflow  : hidden;
    padding   : 0;
    width     : 50%;
}

#photo-column img {
    height: 100%;
}

.form-container {
    height: auto;
    width : 25em;
}

.form-container .logo {
    height       : auto;
    margin-bottom: 2.5em;
    transform    : translateX(50%);
    width        : 12em;
}

.form-container form {
    margin: 1.5em 0;
}

fieldset {
    display       : flex;
    flex-direction: column-reverse;
    margin-bottom : 1em;
}

form input,
form select {
    border       : 2px solid var(--iceberg-blue);
    border-radius: .25em;
    height       : 2.5em;
    margin-top   : .25em;
    outline      : 0;
    padding-left : .65em;
    padding-right: .65em;
    width        : 100%;
}

form input:focus-within,
form select:focus-within {
    border-color: var(--deep-bluish-cyan);
}

form input:focus-within+label,
form select:focus-within+label {
    color      : var(--deep-bluish-cyan);
    font-weight: 600;
}

.form-container a {
    color          : var(--deep-bluish-cyan);
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}

/* Remember me checkbox and Forgot password link on Login page.  */
.additional-form-items {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    margin         : 0;
    padding        : 0;
    width          : 100%;
}

.additional-form-items fieldset {
    align-items        : center;
    flex-direction     : row;
    gap                : .4em;
    margin             : 0;
    position           : relative;
    /* Prevent user from selecting */
    -moz-user-select   : none;
    -ms-user-select    : none;
    -webkit-user-select: none;
    user-select        : none;
}

.additional-form-items fieldset:hover label {
    color     : hsl(221, 45%, 55%);
    transition: all ease-in-out .1s;
}

.additional-form-items fieldset label {
    color      : hsl(221, 45%, 70%);
    cursor     : pointer;
    font-weight: 500;
}

.additional-form-items fieldset #remember-me {
    cursor : pointer;
    height : 1.15em;
    margin : 0;
    opacity: 0;
    padding: 0;
    width  : 1.15em;
    z-index: 9;
}

.additional-form-items fieldset #remember-me~.icon {
    color    : hsl(221, 45%, 85%);
    font-size: 1.25em;
    position : absolute;
}

.additional-form-items fieldset #remember-me:checked~.icon {
    color: var(--carrot-orange);
}

.form-container button {
    width: 100%;
}

.or-text {
    /* Text "or" between two buttons */
    color     : hsl(221, 85%, 75%);
    margin    : .75em 0;
    text-align: center;
}

/* Login / Sign up with Google Button */
.google-button {
    background-color: white;
    border-color    : var(--iceberg-blue);
    border-width    : 2px;
    color           : var(--dark-jungle-green);
    margin-bottom   : .75em;
    padding         : .5em;
}

.google-button:hover {
    color: var(--deep-bluish-cyan);
}

.google-button img {
    width: 1.4em;
}

.google-button+p {
    margin: 0;
}

/* UserNav component */
.user-nav {
    align-items   : center;
    color         : white;
    display       : flex;
    flex-direction: row;
    gap           : .25em;
    width         : max-content;
}

.user-nav .user-photo {
    border-radius: 50%;
    height       : 2.75em;
    object-fit   : fill;
    overflow     : hidden;
    padding      : 0;
    width        : 2.75em;
}

.user-nav .user-photo img {
    height: auto;
    width : 100%;
}

.user-nav .name {
    color : white;
    margin: 0;
    width : max-content;
}

.user-nav .name span {
    font-size  : 1.09em;
    font-weight: 600;
}

.user-nav #log-out {
    background-color     : transparent;
    border               : 0;
    cursor               : pointer;
    gap                  : .4em;
    margin               : 0;
    padding              : 0;
    text-decoration      : underline;
    text-decoration-color: var(--carrot-orange);
}

.user-nav #log-out .icon {
    /* Flip arrow in icon to make it indicate logout icon 😉  */
    -webkit-transform: scaleX(-1);
    transform        : scaleX(-1);
}

/* Inventory Page */
#inventory input,
#inventory select {
    height: 2.75em;
}

#inventory fieldset {
    margin-bottom: 1.5em;
}

#inventory fieldset label {
    font-size  : 1.095em;
    font-weight: 600;
}

#inventory h5 {
    margin: 1em 0;
}

#feature-continaer {
    display       : flex;
    flex-direction: column;
}

.feature {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    gap            : 1em;
    justify-content: space-between;
}

.feature fieldset {
    width: 100%;
}

/* As it has no button text, that's why making it square shaped */
.product-feature .add-button {
    padding: .25em .4em;
}

#inventory .button-group {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    gap            : 2em;
    justify-content: center;
    margin-top     : 1em;
    width          : 100%;
}

/* The NotFounErrorMessage container within the Inventory page will have a specific height and border */
#inventory .error-message {
    border       : 2.5px solid var(--iceberg-blue);
    border-radius: .25em;
    height       : 16.75em;
}

.my-products,
.orders {
    margin: 3em 0 0 0;
}

h3 {
    margin-bottom: 1em;
}

#inventory table {
    font-size: 1.05em;
    width    : 100%;
}

#inventory table thead {
    background-color: var(--iceberg-blue);
    width           : 100%;
}

#inventory table thead tr {
    height: 3em;
    border: 2px solid var(--iceberg-blue);
}

#inventory table tbody {
    width: 100%;
}

#inventory table tbody tr {
    border  : 2px solid var(--iceberg-blue);
    height  : 6em;
    position: relative;
}

#inventory table th,
#inventory table td {
    min-width      : 9em;
    border-collapse: collapse;
    padding-left   : .5em;
    padding-right  : 1em;
}


#inventory table th {
    color      : hsl(221, 45%, 55%);
    font-weight: 600;
}


#inventory table thead th:first-child {
    padding-left: 1em;
}


#inventory table tbody td {
    height: 100%;
}

/* Expect first element of each table row, all other elements will be center aligned. */
#inventory table thead th:not(:first-child),
#inventory table tbody td:not(:first-child) {
    text-align: center;
}

/* Styling the cell which will contain product name and image. */
#inventory .product-name-image {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    gap           : 1em;
    padding-left  : .75em;
    text-align    : left;
}

#inventory .product-name-image img {
    width : 3em;
    height: 3em;
}


#inventory .product-name-image p {
    margin: 0;
}

/* All the Product Price will be left aligned to show them in a straigt line from top to bottom */
#inventory table tbody td.price {
    text-align  : left;
    /* As after assigning left alignment, the price goes far from its heading. That's why adding padding to left so that price amount stays directly under its heading */
    padding-left: 2.5em;
}

/* OrderID will have a monospace font */
#inventory table tbody td.order-id {
    font-family: "Twilio Sans Mono", monospace;
    font-weight: 400;
}

/* In table row every products/orders action cell */
.actions {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    gap            : .75em;
    justify-content: center;
}

.actions button {
    padding: 0;
    width  : 2.25em;
    height : 2.25em;
}


/* Overlay styling */
.overlay {
    display        : none;
    /* Hidden by default */
    height         : 100%;
    left           : 0;
    position       : fixed;
    top            : 0;
    width          : 100%;
    background     : rgba(0, 0, 0, 0.5);
    /* Dimmed background */
    align-items    : center;
    justify-content: center;
    z-index        : 1000;
    /* Ensure it is above other content */
}

.confirm-delete-modal {
    align-items     : center;
    background-color: white;
    border-radius   : .5em;
    display         : flex;
    flex-direction  : column;
    gap             : 1.5em;
    height          : 25em;
    justify-content : center;
    opacity         : 100%;
    width           : 45em;
    z-index         : 9;
}

.confirm-delete-modal p {
    margin     : 0;
    font-size  : 1.5em;
    font-weight: 700;
}

.confirm-delete-modal .button-group button {
    width : 5.75em;
    height: 2.25em;
}

.error {
    color      : red;
    font-weight: bold;
}

.shake {
    animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

fieldset.error label {
    color: var(--alert-color);
}

fieldset.error input,
fieldset.error select {
    border-color: var(--alert-color);
}

#error-message {
    width           : max-content;
    display         : none;
    align-items     : center;
    justify-content : center;
    padding         : .75em 1.5em;
    background-color: hsl(0, 100%, 90%);
    color           : var(--alert-color);
    font-size       : 1.1em;
    gap             : .75em;
    border-radius   : .5em;
    margin          : 1em auto;

}

#error-message .icon {
    font-size: 1.25em;
}

#error-message p {
    margin     : 0;
    color      : var(--alert-color);
    font-weight: 600;
}