:root {
    /* Colors */
    --dark-jungle-green: #141b25;
    --carrot-orange    : #ff8500;
    --bluish-cyan      : #1caee3;
    --iceberg-blue     : #E7EEFD;

    /* Base Font Size */
    font-size: 16px;
}

/* Common Styles */
header,
main {
    align-items    : center;
    display        : flex;
    justify-content: center;
    width          : 100%;
}

p {
    color: var(--dark-jungle-green);
}

.container {
    display: flex;
    width  : 80%;
}

/* Highlighted words within a sentence */
.highlight {
    color: var(--carrot-orange);
}

/* HEADER Component */

header {
    background-color: var(--dark-jungle-green);
    height          : 7rem;
}

header .container {
    align-items    : center;
    flex-direction : row;
    justify-content: space-between;
}

header .logo {
    width: 10rem;
}

/* Navbar */
header nav {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    gap            : 3.5em;
    justify-content: center;
}

header nav a {
    color          : white;
    font-size      : 1.25em;
    font-weight    : 600;
    text-decoration: none;
    transition     : all ease-in-out .3s;
}

header nav a:hover {
    color: var(--carrot-orange);
}

header nav a.active {
    color: var(--carrot-orange);
}

/* Sign in Button */

button {
    align-items     : center;
    background-color: var(--carrot-orange);
    border          : 3px solid var(--carrot-orange);
    border-radius   : .5em;
    color           : white;
    display         : flex;
    flex-direction  : row;
    font-size       : 1.05em;
    font-weight     : 600;
    gap             : .75em;
    height          : auto;
    justify-content : center;
    padding         : .45em 1.75em;
    transition      : all .2s ease-in-out;
    width           : auto;
}

button:hover {
    background-color: white;
    color           : var(--carrot-orange);
}

/* HOME Component */

#home {
    margin: 2em 0;
}

#home .container {
    flex-direction: column;
}

#home .container h1 {
    font-weight  : 700;
    margin-bottom: 1em;
    text-align   : center;
    width        : 100%;
}

/* PRODUCT Component */
.product {
    align-items   : center;
    border-bottom : 1px solid var(--iceberg-blue);
    display       : flex;
    flex-direction: row;
    padding       : 1.5em 0;
}

.product:first-child {
    padding-top: 0;
}

.product:last-child {
    border-bottom: 0;
}

.product .name {
    cursor     : pointer;
    font-size  : 1.2em;
    font-weight: 600;
    line-height: 1.25em;
    text-align : justify;
    transition : all ease-in-out .05s;
}

.product .name:hover {
    color          : var(--bluish-cyan);
    text-decoration: underline;
}

.product .product-info {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    font-size      : 1.1em;
    justify-content: space-between;
}

.product .currency-symbol,
.product .fraction-part {
    color    : var(--bluish-cyan);
    font-size: 1em;
    position : relative;
    top      : -.25em;
}

.product .whole-part {
    color      : var(--bluish-cyan);
    font-size  : 1.75em;
    font-weight: 400;
    margin     : 0 .05em;
    position   : relative;
    top        : .1em;
}

.product button {
    padding: .35em 1.75em;
}