:root {
    /* Colors */
    --bluish-cyan              : #1caee3;
    --carrot-orange            : #ff8500;
    --dark-jungle-green        : #141b25;
    --deep-bluish-cyan         : #00b4f5;
    --error-color              : #E13939;
    --error-color-light        : #FFF5F5;
    --iceberg-blue             : #E7EEFD;
    --informational-color      : #1971C2;
    --informational-color-light: #E7F5FF;
    --secondary-text-color     : #c8d2ea;
    --success-color            : #2F9E44;
    --success-color-light      : #EBFBEE;
    --warning-color            : #F08C00;
    --warning-color-light      : #FFF9DB;
    /* Base Font Size */
    font-size                  : 16px;
}

/* Common Styles */
header,
main {
    align-items    : center;
    display        : flex;
    justify-content: center;
    width          : 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

p {
    color: var(--dark-jungle-green);
}

table {
    border-collapse: collapse;
    border-spacing : 0;
    width          : 100%;
}

.container {
    display: flex;
    width  : 80%;
}

/* Button */
button {
    align-items     : center;
    background-color: var(--carrot-orange);
    border          : 3px solid var(--carrot-orange);
    border-radius   : .25em;
    color           : white;
    display         : flex;
    flex-direction  : row;
    font-size       : 1.05em;
    font-weight     : 600;
    gap             : .75em;
    height          : auto;
    justify-content : center;
    padding         : .35em 1.75em;
    transition      : all .2s ease-in-out;
    width           : auto;
}

button:hover {
    background-color: white;
    color           : var(--carrot-orange);
}

/* Delete Button */
.delete-button {
    background-color: var(--error-color);
    border-color    : var(--error-color);
    padding         : .5em .55em;
}

.delete-button:hover {
    background-color: white;
    color           : var(--error-color);
}

/* Done Button (By clicking it, it will complete an order) */
.done-button {
    background-color: var(--success-color);
    border-color    : var(--success-color);
}

.done-button:hover {
    color: var(--success-color);
}

/* Neutral Button (an optional button for user) */
.neutral-button {
    background-color: var(--iceberg-blue);
    border-color    : var(--iceberg-blue);
    color           : hsl(221, 45%, 55%);
}

.neutral-button:hover {
    background-color: white;
    color           : hsl(221, 45%, 55%);
}

/* Highlighted words within a sentence */
.highlight {
    color      : var(--error-color);
    font-weight: 600;
}

/* Input Field Additional Indications */
.small-text {
    color      : hsl(221, 45%, 70%);
    font-size  : .75em;
    font-weight: 600;
}

.link {
    text-decoration: none;
}

/* HEADER Component */

header {
    background-color: var(--dark-jungle-green);
    height          : 12rem;
    margin-bottom   : 2em;
}

header .container {
    flex-direction: column;
    gap           : 2em;
}

header .nav-bar {
    display        : flex;
    align-items    : center;
    flex-direction : row;
    justify-content: space-between;
    width          : 100%;
}

header .search-bar {
    display       : flex;
    flex-direction: row;
    width         : 100%;
}

header .search-bar input {
    width        : 100%;
    border-radius: .25em 0 0 .25em;
    border       : 0;
    outline      : 0;
    padding-left : .75em;
}

header .search-bar button {
    border-radius: 0 .25em .25em 0;
}

header .logo {
    width: 10rem;
}

/* Navbar */
header nav {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    gap            : 3.5em;
    justify-content: center;
}

header nav a {
    color          : white;
    font-size      : 1.25em;
    font-weight    : 600;
    text-decoration: none;
    transition     : all ease-in-out .3s;
}

header nav a:hover {
    color: var(--carrot-orange);
}

header nav a.active {
    color: var(--carrot-orange);
}

header .search-bar a {
    text-decoration: none;
}

header .icon {
    display: none;
}

/* HOME Component */

main {
    flex-direction: column;
    margin-bottom : 2em;
}

main>.container {
    flex-direction: column;
}

main .container h1 {
    font-weight  : 700;
    margin-bottom: 1em;
    text-align   : center;
    width        : 100%;
}

/* The loading indicator's container directly the child of the App component will cover the whole viewport */
.App>.loader-container {
    width          : 100%;
    height         : 100vh;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

/* HOME Page */
#home .loader-container,
#search .loader-container {
    align-items    : center;
    display        : flex;
    flex-direction : column;
    gap            : 2em;
    height         : 100%;
    justify-content: center;
}

#checkout .loader-container {
    align-items    : center;
    display        : flex;
    flex-direction : column;
    height         : calc(100vh - 20em);
    justify-content: center;
    width          : 100%;
}

.loader-container p {
    color      : var(--secondary-text-color);
    font-size  : 1.5em;
    font-weight: 600;
    margin     : 0;
}

.pagination-container {
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 2.75em;
    width          : max-content;
    flex-direction : row;
    margin         : 0 auto;
    margin-top     : 3em;
}

.pagination-container .pagination {
    width          : 2.75em;
    height         : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    border         : 2px solid var(--iceberg-blue);
    border-left    : 0;
}

.pagination-container .pagination:first-of-type {
    border-left: 2px solid var(--iceberg-blue);
}

.pagination-container.has-prev .pagination:first-of-type {
    border-left: 0;
}

.pagination-container.has-next .pagination:last-of-type {
    border-right: 0;
}

.pagination-container .pagination:last-of-type {
    border-right: 2px solid var(--iceberg-blue);
}


.pagination-container .pagination {
    color          : var(--secondary-text-color);
    text-decoration: none;
    font-weight    : 600;
    font-size      : 1.05em;
    transition     : all ease-in-out 0.3s;
    cursor         : pointer;
}

.pagination-container .pagination:hover {
    color: hsl(221, 45%, 70%);
}

.pagination-container .pagination.active {
    color      : var(--carrot-orange);
    font-weight: 700;
}

.pagination-container button {
    height      : 98%;
    padding     : 0 1.5em;
    border-width: 2px;
}

.pagination-container button:first-child {
    border-radius: 0.25em 0 0 0.25em;
}

.pagination-container button:last-child {
    border-radius: 0 0.25em 0.25em 0;
}

/* PRODUCT Component */
.product {
    align-items   : center;
    border-bottom : 1px solid var(--iceberg-blue);
    display       : flex;
    flex-direction: row;
    margin-right  : 1em;
    padding       : 1.5em 0;
}

.product .col-3 img {
    max-width: 13em;
}

.product:first-child {
    padding-top: 0;
}

.product:last-child {
    border-bottom: 0;
}

.product .name {
    text-decoration: none;
}

.product .name p {
    cursor     : pointer;
    font-size  : 1.2em;
    font-weight: 600;
    line-height: 1.25em;
    text-align : justify;
    transition : all ease-in-out .05s;
}

.product .name p:hover {
    color          : var(--bluish-cyan);
    text-decoration: underline;
}

.product table.product-info {
    font-size : 1.1em;
    margin-top: .5em;
}

.product .product-info td {
    align-items: center;
    display    : flex;
    height     : 2.5em;
}

/* Product Rating */
.rating {
    display       : flex;
    flex-direction: row;
}

.rating-stars {
    align-items   : center;
    display       : flex;
    flex-direction: row;
    font-size     : 1em;
    margin-left   : .25em;
    margin-right  : .5em;
    position      : relative;
    top           : -.1em;
}

.filled-stars {
    color: var(--carrot-orange);
}

.empty-stars {
    color: var(--iceberg-blue);
}

.product .currency-symbol,
.product .fraction-part {
    color    : var(--bluish-cyan);
    font-size: 1em;
    position : relative;
    top      : -.175em;
}

.product .whole-part {
    color      : var(--bluish-cyan);
    font-size  : 1.65em;
    font-weight: 400;
    margin     : 0 .05em;
    position   : relative;
    top        : .1em;
}

.product button {
    padding: .25em 1.75em;
}

/* CART Component */
aside.cart {
    background-color: var(--iceberg-blue);
    padding         : 2.5em 1.5em;
}

.cart h5 {
    align-items   : center;
    display       : flex;
    flex-direction: row;
    font-weight   : 700;
    gap           : .35em;
    margin-bottom : 1.5em;
}

.cart table tr td:nth-child(2) {
    padding-right: .5em;
}

.cart .grand-total {
    border-top: 2px solid var(--dark-jungle-green);
    font-size : 1.2em;
    margin-top: 1.5em;
}

.cart .grand-total p {
    font-weight: 600;
    padding-top: .5em;
}

.cart button {
    margin-top: 3em;
    padding   : .35em 1.75em;
    width     : 100%;
}

.cart .close-icon {
    display: none;
}

/* PRODUCT DETAILS Component */
#product-details>.loader-container {
    width          : 100%;
    height         : calc(100vh - 9em);
    display        : flex;
    align-items    : center;
    justify-content: center;
}

#product-details .product img {
    padding-right: 1em;
    width        : calc(100% - 1em);
}

#product-details .product {
    border-bottom: 0;
    font-size    : 1.1em;
}

#product-details .product .price .currency-symbol,
#product-details .product .price .fraction-part {
    font-size  : 1.25em;
    font-weight: 600;
    top        : -.15em;
}

#product-details .product .price .whole-part {
    font-size  : 2em;
    font-weight: 600;
}

#product-details .product .name {
    font-size  : 1.25em;
    font-weight: 600;
}

#product-details .product .shipping {
    margin-top: 1em;
}

#product-details .product .we-accept {
    align-items     : center;
    background-color: hsl(196, 78%, 95%);
    border-radius   : .25em;
    color           : var(--bluish-cyan);
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    margin-top      : 1em;
    padding         : .25em .6em;
    padding-left    : .75em;
}

#product-details .product .we-accept .card-group {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    justify-content: center;
}

#product-details .product .we-accept .card-group img {
    margin : 0;
    padding: 0;
    width  : 2.5em;
}

#product-details .product .we-accept .card-group img:not(:last-child) {
    margin-right: .475em;
}

.quantity {
    border: 1px solid var(--iceberg-blue);
    height: 2.5em;
    width : fit-content;
}

.quantity button {
    align-items     : center;
    background-color: white;
    border-color    : white;
    border-radius   : 0;
    color           : var(--dark-jungle-green);
    display         : flex;
    font-size       : 1.25em;
    height          : 1.91em;
    justify-content : center;
    padding         : 0;
    width           : 1.9em;
}

.quantity button:hover {
    color: var(--carrot-orange);
}

.quantity button:active {
    background-color: var(--iceberg-blue);
    border-color    : var(--iceberg-blue);
    transition      : all ease-in-out .1s;
}

.quantity input {
    border    : 1px solid var(--iceberg-blue);
    height    : 2.5em;
    padding   : 0 .75em;
    text-align: center;
    width     : 2.75em;
}

.quantity input:focus,
.quantity input:focus-within,
.quantity input:focus-visible {
    border-color: var(--bluish-cyan);
    outline     : 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -moz-appearance   : none;
    -webkit-appearance: none;
    appearance        : none;
}

#product-details .features {
    margin-top: 1em;
}

#product-details .features h5 {
    font-weight: 600;
}

#product-details .features ul {
    margin-left: -.5em;
}

#product-details .features li {
    padding-left: .5em;
}

#product-details .features li::marker {
    content: "•";
}

#product-details .services .icon {
    font-size: 2em;
    color    : var(--carrot-orange);
}

#product-details .services h5 {
    font-weight: 600;
    margin-top : .5em;
}

#product-details .services p {
    color: var(--dark-jungle-green);
}

#product-details .customer-reviews h2 {
    font-weight: 700;
    text-align : center;
}

/* NotFoundErrorMessage Component*/
.not-found-error-message {
    width          : 100%;
    height         : 100%;
    display        : flex;
    align-items    : center;
    flex-direction : column;
    justify-content: center;
    font-size      : 1.5em;
    color          : hsl(221, 45%, 85%);
}

.not-found-error-message .icon {
    font-size    : 2.75em;
    margin-bottom: .25em;
}

.not-found-error-message p {
    color      : hsl(221, 45%, 85%);
    font-weight: 600;
    margin     : 0;
}

/* Button within NotFoundErrorMessage Component */
.not-found-error-message .try-again {
    font-size : initial;
    margin-top: 1em;
}

#checkout .not-found-error-message {
    margin-top: 5em;
}

/* Customer Review Component */
.customer-review {
    padding: 1em 0;
}

.customer-review:not(:last-child) {
    border-bottom: 1px solid var(--iceberg-blue);
}

.customer-review .row:first-child {
    align-items   : center;
    display       : flex;
    flex-direction: row;
    gap           : .5em;
}

.customer-review p {
    margin : 0;
    padding: 0;
}

.customer-review .display-photo {
    border-radius: 50%;
    height       : 3em;
    object-fit   : fill;
    overflow     : hidden;
    padding      : 0;
    width        : 3em;
}

.customer-review .display-photo img {
    height: auto;
    width : 100%;
}

.customer-review .name {
    font-size    : 1.1em;
    font-weight  : 600;
    margin-bottom: .1em;
}

.customer-review .rating {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    width          : 100%;
}

.customer-review .rating .date {
    color: hsl(221, 45%, 70%);
}

/* Login & Sign up Page */

#login,
#sign-up {
    flex-direction: row;
    height        : 100%;
    width         : 100%;
}

#login.row,
#sign-up.row {
    margin : 0;
    padding: 0;
    width  : 100%;
}

#login #error-message {
    width: 100%;
}

#login #email-error-message {
    color      : var(--error-color);
    font-weight: 600;
    margin-top : -.5em;
    display    : none;
}

#form-column {
    align-items    : center;
    display        : flex;
    justify-content: center;
}

#form-column .back {
    align-items          : center;
    color                : var(--dark-jungle-green);
    cursor               : pointer;
    display              : flex;
    flex-direction       : row;
    gap                  : .5em;
    position             : absolute;
    right                : 5em;
    text-decoration-color: white;
    top                  : 5em;
}

#form-column .back:hover {
    text-decoration      : underline;
    text-decoration-color: var(--carrot-orange);
}

#form-column .back:hover svg {
    color     : var(--carrot-orange);
    transition: all ease-in-out .2s;
}

#photo-column {
    height    : 100vh;
    margin    : 0;
    object-fit: fill;
    overflow  : hidden;
    padding   : 0;
    width     : 50%;
}

#photo-column img {
    height: 100%;
}

.form-container {
    height: auto;
    width : 25em;
}

.form-container .logo {
    height       : auto;
    margin-bottom: 2.5em;
    transform    : translateX(50%);
    width        : 12em;
}

.form-container form {
    margin: 1.5em 0;
}

fieldset {
    display       : flex;
    flex-direction: column-reverse;
    margin-bottom : 1em;
}

fieldset.error label {
    font-weight: 600;
}

form input,
form select {
    border       : 2px solid var(--iceberg-blue);
    border-radius: .25em;
    height       : 2.5em;
    margin-top   : .25em;
    outline      : 0;
    padding-left : .65em;
    padding-right: .65em;
    width        : 100%;
}

form input:focus-within,
form select:focus-within {
    border-color: var(--deep-bluish-cyan);
}

form input:focus-within+label,
form select:focus-within+label {
    color      : var(--deep-bluish-cyan);
    font-weight: 600;
}

.form-container a {
    color          : var(--deep-bluish-cyan);
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}

/* Remember me checkbox and Forgot password link on Login page.  */
.additional-form-items {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    margin         : 0;
    padding        : 0;
    width          : 100%;
}

.additional-form-items fieldset {
    align-items        : center;
    flex-direction     : row;
    gap                : .4em;
    margin             : 0;
    position           : relative;
    /* Prevent user from selecting */
    -moz-user-select   : none;
    -ms-user-select    : none;
    -webkit-user-select: none;
    user-select        : none;
}

.additional-form-items fieldset:hover label {
    color     : hsl(221, 45%, 55%);
    transition: all ease-in-out .1s;
}

.additional-form-items fieldset label {
    color      : hsl(221, 45%, 70%);
    cursor     : pointer;
    font-weight: 500;
}

.additional-form-items fieldset #remember-me {
    cursor : pointer;
    height : 1.15em;
    margin : 0;
    opacity: 0;
    padding: 0;
    width  : 1.15em;
    z-index: 9;
}

.additional-form-items fieldset #remember-me~.icon {
    color    : hsl(221, 45%, 85%);
    font-size: 1.25em;
    position : absolute;
}

.additional-form-items fieldset #remember-me:checked~.icon {
    color: var(--carrot-orange);
}

.form-container button {
    width: 100%;
}

.or-text {
    /* Text "or" between two buttons */
    color     : hsl(221, 85%, 75%);
    margin    : .75em 0;
    text-align: center;
}

/* Continue with Google Button */
.google-button {
    background-color: white;
    border-color    : var(--iceberg-blue);
    border-width    : 2px;
    color           : var(--dark-jungle-green);
    margin-bottom   : .75em;
    padding         : .5em;
}

.google-button:hover {
    color: var(--deep-bluish-cyan);
}

.google-button img {
    width: 1.4em;
}

.google-button+p {
    margin: 0;
}

/* When a form is submitted and waiting for result */
.disabled-button {
    background-color: hsl(221, 45%, 85%);
    border-color    : hsl(221, 45%, 85%);
    color           : hsl(221, 45%, 55%);
    cursor          : not-allowed;
    pointer-events  : none;
}

.disabled-button .loader {
    width              : 1.5em;
    height             : 1.5em;
    border             : 3px solid var(--iceberg-blue);
    border-bottom-color: var(--carrot-orange);
}

/* UserNav component */
.user-nav {
    align-items   : center;
    color         : white;
    display       : flex;
    flex-direction: row;
    gap           : .25em;
    width         : max-content;
}

.user-nav .user-photo {
    border-radius: 50%;
    height       : 2.75em;
    object-fit   : fill;
    overflow     : hidden;
    padding      : 0;
    width        : 2.75em;
}

.user-nav .user-photo img {
    height: auto;
    width : 100%;
}

.user-nav .name {
    color : white;
    margin: 0;
    width : max-content;
}

.user-nav .name span {
    font-size  : 1.09em;
    font-weight: 600;
}

.user-nav #log-out {
    background-color     : transparent;
    border               : 0;
    cursor               : pointer;
    gap                  : .4em;
    margin               : 0;
    padding              : 0;
    text-decoration      : underline;
    text-decoration-color: var(--carrot-orange);
}

.user-nav #log-out .icon {
    /* Flip arrow in icon to make it indicate logout icon 😉  */
    -webkit-transform: scaleX(-1);
    transform        : scaleX(-1);
}

/* Inventory Page */
#inventory input,
#inventory select {
    height: 2.75em;
}

#inventory fieldset {
    margin-bottom: 1.5em;
}

#inventory fieldset label {
    font-size  : 1.095em;
    font-weight: 600;
}

#inventory h5 {
    margin: 1em 0;
}

#feature-container {
    display       : flex;
    flex-direction: column;
}

.feature {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    gap            : 1em;
    justify-content: space-between;
}

.feature fieldset {
    width: 100%;
}

/* As it has no button text, that's why making it square shaped */
.product-feature .add-button {
    padding: .25em .4em;
}

#inventory .button-group {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    gap            : 2em;
    justify-content: center;
    margin-top     : 1em;
    width          : 100%;
}

/* The NotFoundErrorMessage container within the Inventory page will have a specific height and border */
#inventory .not-found-error-message {
    border       : 2.5px solid var(--iceberg-blue);
    border-radius: .25em;
    height       : 16.75em;
}

.bordered-loader-container {
    width          : 100%;
    border         : 2.5px solid var(--iceberg-blue);
    border-radius  : .25em;
    height         : 25em;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    gap            : 2em;
}

.my-products,
.orders {
    margin: 3em 0 0 0;
}

h3 {
    margin-bottom: 1em;
}

#inventory table {
    font-size: 1.05em;
    width    : 100%;
}

#inventory table thead {
    background-color: var(--iceberg-blue);
    width           : 100%;
}

#inventory table thead tr {
    height: 3em;
    border: 2px solid var(--iceberg-blue);
}

#inventory table tbody {
    width: 100%;
}

#inventory table tbody tr {
    border  : 2px solid var(--iceberg-blue);
    height  : 6em;
    position: relative;
}

#inventory table th,
#inventory table td {
    min-width      : 9em;
    width          : fit-content;
    border-collapse: collapse;
    padding-left   : .5em;
    padding-right  : 1em;
}


#inventory table th {
    color      : hsl(221, 45%, 55%);
    font-weight: 600;
}


#inventory table thead th:first-child {
    padding-left: 1em;
}


#inventory table tbody td {
    height: 100%;
}

/* Expect first element of each table row, all other elements will be center aligned. */
#inventory table thead th:not(:first-child),
#inventory table tbody td:not(:first-child) {
    text-align: center;
}

/* Styling the cell which will contain product name and image. */
#inventory .product-name-image {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    gap           : 1em;
    padding-left  : .75em;
    text-align    : left;
}

#inventory .product-name-image img {
    width : 3em;
    height: auto;
}


#inventory .product-name-image p {
    margin: 0;
}

/* All the Product Price will be left aligned to show them in a straight line from top to bottom */
#inventory table tbody td.price {
    text-align  : left;
    /* As after assigning left alignment, the price goes far from its heading. That's why adding padding to left so that price amount stays directly under its heading */
    padding-left: 2.5em;
}

/* OrderID will have a monospace font */
#inventory table tbody td.order-id {
    font-family: "Twilio Sans Mono", monospace;
    font-weight: 400;
}

/* Order Date should be shown in one line */
#inventory table tbody td.order-date {
    min-width: max-content;
    padding  : 0;
}

/* In table row every products/orders action cell */
.actions {
    align-items    : center;
    display        : flex;
    flex-direction : row;
    gap            : .75em;
    justify-content: center;
}

.actions button {
    padding: 0;
    width  : 2.25em;
    height : 2.25em;
}


/* Overlay styling */
.overlay {
    display        : none;
    /* Hidden by default */
    height         : 100%;
    left           : 0;
    position       : fixed;
    top            : 0;
    width          : 100%;
    background     : rgba(0, 0, 0, 0.5);
    /* Dimmed background */
    align-items    : center;
    justify-content: center;
    z-index        : 1000;
    /* Ensure it is above other content */
}

.confirm-delete-modal {
    align-items     : center;
    background-color: white;
    border-radius   : .5em;
    display         : flex;
    flex-direction  : column;
    gap             : 1.5em;
    height          : 25em;
    justify-content : center;
    opacity         : 100%;
    width           : 45em;
    z-index         : 9;
}

.confirm-delete-modal p {
    margin     : 0;
    font-size  : 1.5em;
    font-weight: 700;
}

.confirm-delete-modal .button-group button {
    width : 5.75em;
    height: 2.25em;
}

.error {
    color      : red;
    font-weight: bold;
}

.shake {
    animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

fieldset.error label {
    color: var(--error-color);
}

fieldset.error input,
fieldset.error select {
    border-color: var(--error-color);
}

/* Message Container */
.message {
    align-items    : center;
    border-radius  : .5em;
    gap            : .75em;
    justify-content: center;
    padding        : .75em 1.5em;
}

.message p {
    margin     : 0;
    font-weight: 600;
}

#error-message {
    background-color: var(--error-color-light);
    color           : var(--error-color);
    display         : none;
    font-size       : 1.1em;
    margin          : 1em auto;
    width           : max-content;
}

.message .icon {
    font-size: 1.25em;
}

#error-message p {
    color: var(--error-color);
}

#success-message {
    background-color: var(--success-color-light);
    color           : var(--success-color);
    display         : none;
    margin-top      : .5em;
}

#success-message p {
    color: var(--success-color);
}

/* NotFound Page */
#not-found .not-found-error-message {
    font-size: 2em;
    height   : calc(100vh - 7.5em);
    width    : 100%;
}

/* ToastNotification components */
.toast-container {
    bottom        : 1.5em;
    display       : flex;
    flex-direction: column;
    gap           : 10px;
    position      : fixed;
    right         : 1.5em;
    z-index       : 900;
    width         : auto;
    height        : auto;
    z-index       : 1000;
    pointer-events: auto;
}

.toast-notification {
    border-radius  : .5em;
    box-shadow     : 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
    color          : #fff;
    display        : flex;
    flex-direction : column;
    height         : fit-content;
    justify-content: center;
    max-width      : 40em;
    min-height     : 5.25em;
    height         : auto;
    min-width      : 30em;
    overflow       : hidden;
    width          : auto;
    position       : relative;
    padding-bottom : 1em;
    /* Ensure the toast is positioned relative to its container */
    z-index        : 1000;
    /* Ensure the toast is above other elements */
}

.timer-bar {
    animation: growBar linear;
    height   : 5px;
    position : absolute;
    top      : 0;
    width    : 100%;
}

.toast-title {
    font-size    : 1.35em;
    font-weight  : 700;
    margin-bottom: .1em;
    margin-left  : .8em;
    margin-right : 4em;
    margin-top   : .75em;
}

.toast-message {
    font-size    : 500;
    font-weight  : 600;
    margin-right : 4em;
    margin-bottom: 0;
    margin-left  : 1.1em;
}

.toast-notification .close-button {
    background: none;
    border    : none;
    color     : inherit;
    cursor    : pointer;
    font-size : 1.2em;
    position  : absolute;
    right     : 0;
    top       : 50%;
    transform : translateY(-50%);
    z-index   : 1001;
    /* Ensure the button is above other elements */
}

.toast-notification .resend-button {
    text-decoration: underline;
    cursor         : pointer;
    font-weight    : 600;
    font-size      : 1.1em;
}

.toast-notification .resend-button:hover {
    text-decoration: none;
}

.toast-notification .dynamic-content p {
    margin     : 0;
    margin-left: 1em;
    font-weight: 600;
}

.toast-notification.success {
    background-color: var(--success-color-light);
}

.success .toast-title,
.success .toast-message {
    color: var(--success-color);
}

.success .timer-bar {
    background-color: var(--success-color);
}

.success button svg {
    color: var(--success-color);
}

.toast-notification.error {
    background-color: var(--error-color-light);
}

.error .toast-title,
.error .toast-message {
    color: var(--error-color);
}

.error .timer-bar {
    background-color: var(--error-color);
}

.error button svg {
    color: var(--error-color);
}

.toast-notification.warning {
    background-color: var(--warning-color-light);
}

.warning .toast-title,
.warning .toast-message,
.warning .dynamic-content p {
    color: var(--warning-color);
}

.warning .timer-bar {
    background-color: var(--warning-color);
}

.warning button svg {
    color: var(--warning-color);
}

.toast-notification.info {
    background-color: var(--informational-color-light);
}

.info .toast-title,
.info .toast-message {
    color: var(--informational-color);
}

.info .timer-bar {
    background-color: var(--informational-color);
}

.info button svg {
    color: var(--informational-color);
}

/* Checkout Page */
#checkout .form_container {
    margin: 0 auto;
    width : 50em;
}

#checkout .form_container h4 {
    margin-bottom: 1em;
}

#checkout .form_container button {
    margin    : 0 auto;
    margin-top: 2em;
}

/* PaymentSuccess COMPONENT */
#payment-success-container {
    align-items    : center;
    display        : flex;
    height         : calc(100vh - 10em);
    justify-content: center;
    width          : 100%;
}

#payment-success {
    align-items    : center;
    display        : flex;
    flex-direction : column;
    height         : 20em;
    justify-content: center;
    margin         : auto;
    width          : 30em;
}

#payment-success .success-icon {
    color    : var(--success-color);
    font-size: 5em;
}

#payment-success p {
    font-size : 1.15em;
    text-align: center;
}

#payment-success .secondary-text {
    color      : hsl(221, 45%, 70%);
    font-weight: 500;
    margin     : auto;
    width      : 90%;
}

#payment-success a {
    text-decoration: none;
}

#payment-success button {
    margin-top: 1.25em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes growBar {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* Loader Component */
.loader {
    width              : 48px;
    height             : 48px;
    border             : 5px solid var(--secondary-text-color);
    border-bottom-color: var(--carrot-orange);
    border-radius      : 50%;
    display            : inline-block;
    box-sizing         : border-box;
    animation          : rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* CartChip Component */
.cart-chip {
    align-items     : center;
    background-color: var(--carrot-orange);
    border-radius   : .5em;
    bottom          : 3em;
    color           : white;
    display         : none;
    gap             : .5em;
    padding         : .5em 1em;
    position        : fixed;
    right           : 3em;
    width           : max-content;
    z-index         : 99;
}

.cart-chip:hover {
    cursor    : pointer;
    filter    : brightness(93%);
    transition: all ease-in-out .3s;
}

.cart-chip span {
    align-items     : center;
    background-color: white;
    border-radius   : .5em;
    color           : var(--dark-jungle-green);
    display         : flex;
    font-weight     : 600;
    height          : 1.25em;
    justify-content : center;
    margin          : 0;
    min-width       : fit-content;
    padding         : 0 .5em;
    width           : auto;
}


#dimmed-bg {
    background-color: rgba(0, 0, 0, 0.5);
    display         : none;
    height          : 100%;
    left            : 50%;
    position        : fixed;
    top             : 50%;
    transform       : translate(-50%, -50%);
    width           : 100%;
    z-index         : 1;
}


/* Responsiveness */
@media only screen and (max-width: 1024px) {
    .container {
        width: 90%;
    }

    header .logo {
        margin-left : auto;
        margin-right: auto;
    }

    header nav {
        align-items     : flex-start;
        background-color: var(--dark-jungle-green);
        flex-direction  : column;
        gap             : 2em;
        height          : 100vh;
        justify-content : start;
        left            : -25em;
        padding-left    : 3em;
        padding-top     : 7.5em;
        position        : absolute;
        top             : 0;
        transition      : all ease-in-out .5s;
        width           : 25em;
        z-index         : 10;
    }

    header nav .close-icon {
        position: absolute;
        right   : 2.5em;
        top     : 2.5em;
    }

    header #user-status {
        left       : -25em;
        margin-left: 3em;
        position   : absolute;
        top        : 19em;
        transition : all ease-in-out .5s;
        z-index    : 11;
    }

    header .icon {
        color    : white;
        display  : block;
        font-size: 1.25em;
    }

    header .icon:hover {
        color     : var(--carrot-orange);
        cursor    : pointer;
        transition: all ease-in-out .3s;
    }

    #home>.col-3,
    #order-review>.col-3 {
        display: none;
    }

    .cart-chip {
        display: flex;
    }

    .cart {
        border-radius: .5em;
        display      : none;
        left         : 50%;
        position     : fixed;
        top          : 50%;
        transform    : translate(-50%, -50%);
        width        : 20em;
        z-index      : 99;
    }

    .cart .close-icon {
        display  : block;
        font-size: 1.25em;
        font-size: 1em;
        position : absolute;
        right    : 1.25em;
        top      : 1.25em;
    }

    .cart .close-icon:hover {
        color     : var(--carrot-orange);
        cursor    : pointer;
        transition: all ease-in-out .3s;
    }
}